from other folder
data
*imdb_cookies*
junk/celebs_by_starmeter.py junk/cookie_test.py junk/errors.csv junk/format_imdb_cookies.py junk/scrape_imdb.py.last.py junk/starmeter_males.json
junk
imdb_cleanup.py
